---
title: "SUMS"
redirect_from:
  - /sums/
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/sumo-students.jpg
  actions:
  - label: "Follow Facebook"
    url: https://www.facebook.com/SUMS.StA
  - label: "Sign up to mailing list"
    url: https://forms.office.com/r/44qAwwKgSn
excerpt: "Welcome to the St Andrews' University Mathematics Society Website where we list our weekly emails, and publish events!"
intro: 
  - excerpt: '"Mathematics knows no races or geographical boundaries; for mathematics, the cultural world is one country." - David Hilbert'
about_row:
  - image_path: /assets/images/sta-grass.jpg
    title: "About Us"
    excerpt: "We are SUMS (St Andrews' University Mathematics Society), a society for St Andrews' students with an interest in anything mathematical. We organise events, competitions, socials, and more!"
    url: "about"
    btn_label: "Read More"
    btn_class: "btn--primary"
signup_row:
    - image_path: /assets/images/your-union.svg
      title: "Join US"
      excerpt: 'Please fill in the form to [sign up to our mailing list](https://forms.office.com/r/44qAwwKgSn). To buy the membership, visit Your Union Website.'
      url: "https://www.yourunion.net/activities/societies/explore/maths/"
      btn_label: "Buy Membership"
      btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="about_row" type="left" %}

{% include feature_row id="signup_row" type="right" %}


